/* --- Background --- */
.register-container {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/register2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* --- Register Box --- */
.register-box {
  width: 380px;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(5, 1, 34);
  margin-top: -30px;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

/* --- Inputs --- */
.register-box input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.register-box input:focus {
  box-shadow: 0 0 5px #66aaff;
}

/* --- Submit Button --- */
.register-box button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0077ff;
  color: white;
  font-size: 16px;
  transition: 0.2s;
}

.register-box button:hover {
  background-color: #005fcc;
}

/* --- Message --- */
.msg {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #190135;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 50px;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ccc;
}
