.seatMapWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

/* Rows */
.seatMap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seatRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Left & Right */
.seatBlock {
  display: flex;
  gap: 6px;
}

/* Middle aisle */
.middleAisle {
  width: 40px;
}

/* Seats */
.seat {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: #2c2c2c;
  color: #ccc;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transition: 0.2s ease;
  border: 1px solid #444;
}

/* Hover */
.seat:hover:not(.reserved) {
  transform: translateY(-3px);
  background-color: #555;
}

/* Selected */
.seat.selected {
  background-color: #4caf50;
  color: white;
  border: 1px solid #6aff6a;
  box-shadow: 0 0 10px #4caf50;
}

/* Reserved */
.seat.reserved {
  background-color: #b71c1c;
  color: white;
  cursor: not-allowed;
  border: 1px solid #ff4d4d;
  box-shadow: 0 0 10px rgba(255,0,0,0.6);
}
